@media (max-width:600px){
  #timerScore{
    width:100%;
  }
  .intro{
    margin-top: 30px;
    margin-left:auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
  }

  #difficulty{
    text-align: center;
  }
  h2{
    margin:auto;
    margin-left:100%;
  }
  .count{
    margin-right:100%;
    margin-top: 0
  }
  .cd{
font-family: 'Playfair Display SC', serif;
font-size: 10rem;

  }

  .instr{
    width:300%;
    margin-top: 10px;
    margin-left: 100%;
    font-size:1.5rem;
  }
  #startGame{
    margin-left: 215%;
    font-size:1.5rem;
  }
  #gridBase{
    width:75%;
    height:75%;
  }
  #highScore{
    margin-left: 15px;
  }
  .count{
    margin-right:100%;
    font-size: 5rem;
    padding:0;
  }
  #newGame{
    margin-left:50%;
  }

  table{
  width:100%;
  }
  input{
    width:80%;
  }
  #inputRow{
    width:10%;
  }
  #inputCol{
    width:10%;
  }
  h2{
    font-size:2rem;
  }
}
